.header {
  &__nav {
    ul {
      display: flex;
      list-style: none;
      padding: 0;

      li {
        position: relative;

        a {
          position: relative;
          font-family: "Greenth-Regular";
          font-size: toRem(18);
          line-height: 1.3;
          color: $colorWhite;

          &::after {
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            width: 0%;
            height: toRem(3);
            background: linear-gradient(to right, #ff7c7c, #78a5fd, #7cf7ff);
            transition: all 0.3s ease;
          }

          &:hover::after {
            width: 100%;
          }
        }

        &:not(:last-child) {
          margin-right: toRem(22);
        }

        & > ul {
          flex-direction: column;
          position: absolute;
          width: 0;
          top: 100%;
          left: 0;
          display: block;
          padding: 0 toRem(8);
          background: $colorBlack;
          transform: translate(200%, 12%);
          transition: all 0.3s ease;

          & > li:last-of-type {
            padding-bottom: toRem(10);
          }
        }

        &:hover > ul {
          transform: translate(0%, 12%);
          width: max-content;
          z-index: 1;
        }
      }
    }
  }
}
