h1,
h2,
h3,
h4,
h5,
a {
  font-family: $titleFont;
  line-height: $baseLineHeight;
  margin: 0;
}

h1 {
  font-size: toRem(64);
  letter-spacing: 1px;
}
h2 {
  font-size: toRem(62);
}
h3 {
  font-size: toRem(56);
}
h4 {
  font-size: toRem(48);
}
h5 {
  font-size: toRem(28);
}
h6 {
  font-family: "Montserrat-700";
  font-size: toRem(30);
}
