.about {
  padding-top: $padding100;
  padding-bottom: $padding100;
  position: relative;
  background-color: rgba(0, 0, 0, 1);

  > img {
    &:first-of-type {
      position: absolute;
      right: 0;
      top: 30%;
    }
  }

  &__title {
    padding-bottom: $padding100;

    h1 {
      margin: 0 0 toRem(76) 0;
      color: $colorWhite;
    }

    p {
      font-family: "Montserrat-400";
      font-size: toRem(30);
      color: $colorWhite;
    }

    span {
      font-family: "Montserrat-700";
      font-size: toRem(30);
    }
  }

  &__logo {
    display: flex;
    justify-content: flex-end;
    gap: toRem(12);
  }
}
