.about {
  padding-top: $padding100;
  padding-bottom: $padding100;
  position: relative;
  background-color: var(--main-bg-color);

  @media (max-width: 1024px) {
    padding-top: $padding50;
    padding-bottom: $padding50;
  }

  > img {
    &:first-of-type {
      position: absolute;
      right: 0;
      top: 30%;
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__title {
    padding: 0 $padding50 $padding100 $padding50;
    padding-bottom: $padding100;
    position: relative;
    z-index: 1;

    @media (max-width: 1024px) {
      padding-bottom: 0;
    }

    h1 {
      text-align: center;
      margin: 0 0 toRem(76) 0;
      color: var(--main-text-color);

      @media (max-width: 768px) {
        margin: 0;
        font-size: toRem(32);
      }
    }

    p {
      font-family: "Montserrat-400";
      font-size: toRem(30);
      color: var(--main-text-color);
      @media (max-width: 768px) {
        font-size: toRem(16);
      }
    }

    span {
      font-family: "Montserrat-700";
      font-size: toRem(30);
      @media (max-width: 768px) {
        font-size: toRem(16);
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: flex-end;
    gap: toRem(12);
    position: relative;

    svg {
      path {
        fill: var(--main-text-color);
      }
    }
  }
}
