.analysis {
  position: relative;
  padding: $padding100 0;
  background-color: var(--main-bg-color);

  &__decor {
    position: absolute;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    padding: $padding50 0;
  }

  h2,
  h6,
  p,
  span {
    margin: 0;
    color: var(--main-text-color);
  }

  h2 {
    @media (max-width: 1024px) {
      font-size: toRem(30);
    }
  }

  h6 {
    text-align: center;
    margin: toRem(20) 0;
    @media (max-width: 1024px) {
      font-size: toRem(22);
    }
  }

  p {
    font-family: "Montserrat-400";
    font-size: toRem(26);
    @media (max-width: 1024px) {
      font-size: toRem(16);
    }
  }

  span {
    font-family: "Montserrat-700";
  }

  &__info {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: toRem(30);
    padding-bottom: $padding50;

    & > div:nth-child(3) {
      flex-direction: row-reverse;

      @media (max-width: 768px) {
        display: block;
        img {
          float: right;
        }
      }
    }

    & > div:nth-child(4) {
      img {
        border-radius: toRem(55);
      }
    }

    @media (max-width: 768px) {
      & > div:nth-child(1) {
        display: block;

        img {
          float: left;
        }
      }
    }

    &__item {
      display: flex;
      align-items: center;
      gap: toRem(50);

      @media (max-width: 768px) {
        gap: toRem(15);
      }
      img {
        position: relative;
        width: 35%;

        @media (max-width: 768px) {
          width: 40%;
        }
      }
    }
  }

  &__title {
    z-index: 2;
    position: relative;
    padding-bottom: $padding100;
    text-align: center;

    @media (max-width: 1024px) {
      padding-bottom: $padding50;
    }
  }

  &__links {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(17);
    text-align: center;

    a {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: toRem(-5);
        left: 0;
        width: 100%;
        height: toRem(3);
        background: linear-gradient(to right, #ff7c7c, #78a5fd, #7cf7ff);
        transition: all 0.3s ease;
      }

      &:hover {
        &::after {
          width: 70%;
          transform: translateX(20%);
        }
      }
    }
  }
}
