.feedback {
  padding-top: $padding50;
  padding-bottom: $padding100;
  position: relative;
  background-color: var(--main-bg-color);
  z-index: 0;

  @media (max-width: 1068px) {
    padding-top: 0;
  }

  > img {
    &:first-of-type {
      position: absolute;
      top: -40%;
      @media (max-width: 1024px) {
        display: none;
      }
    }
    &:last-of-type {
      position: absolute;
      right: 0;
      top: -22%;
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__title {
    text-align: center;
    margin-bottom: toRem(80);

    @media (max-width: 1068px) {
      margin-bottom: toRem(30);
    }

    h2 {
      color: var(--main-text-color);

      @media (max-width: 768px) {
        font-size: toRem(32);
      }
    }
  }

  &__form {
    &__title {
      display: flex;
      gap: toRem(260);
      flex-direction: column;
      flex: 1 0 40%;

      @media (max-width: 1068px) {
        flex: 1 0 30%;
      }

      @media (max-width: 768px) {
        gap: toRem(30);
        align-items: center;
        margin-bottom: 20px;
      }

      h3 {
        color: var(--inversion-text-color);

        @media (max-width: 1068px) {
          font-size: toRem(32);
        }

        @media (max-width: 768px) {
          text-align: center;
          font-size: toRem(32);
        }
      }

      svg {
        path {
          fill: var(--inversion-text-color);
        }
      }

      & > :nth-child(2) {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    &__wrapper {
      display: flex;
      margin: auto;
      justify-content: space-between;
      position: relative;
      box-sizing: border-box;
      padding: toRem(22) toRem(46) toRem(46);
      background: var(--inversion-bg-color);
      background-clip: padding-box;
      border: solid 5px transparent;
      border-radius: toRem(20);
      margin: 0 toRem(100);

      @media (max-width: 768px) {
        flex-direction: column;
        margin: 0 toRem(20);
      }

      @media (max-width: 1068px) {
        padding: toRem(12) toRem(22);
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: toRem(-10);
        border-radius: inherit;
        background: linear-gradient(to right, #ff7c7c, #78a5fd, #7cf7ff);
      }
    }
  }
}
