.footer {
  background-color: rgb(255, 255, 255);

  &__logo {
    display: flex;
    gap: toRem(20);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__contacts {
    p,
    a {
      font-family: "Greenth-Regular";
      color: $colorBlack;
      font-size: toRem(18);
      padding: 0 toRem(10);
    }
  }
}
