.header {
  background: var(--inversion-bg-color);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding: toRem(10) 0 toRem(20);
  }
}
