.header {
  background: $colorBlack;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding: toRem(15) 0 toRem(20);
  }

  &__contacts {
    a {
      font-family: "Greenth-Regular";
      font-size: toRem(21);
      line-height: 1.3;
      color: $colorWhite;
    }
  }
}
