.hero {
  padding-top: $padding200;
  padding-bottom: $padding100;
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../images/World-Map.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;

  > img {
    &:first-of-type {
      position: absolute;
      top: 40%;
      z-index: 2;
    }
  }

  &__images {
    display: flex;
    align-items: flex-start;

    img {
      max-width: 100%;
      height: auto;
    }

    span {
      padding: 0 toRem(20);
      font-size: x-large;
    }

    &__logo {
      display: flex;
      align-items: flex-end;

      & img:first-child {
        margin: auto toRem(40);
      }

      &--easy {
        width: toRem(690);
        min-width: toRem(345);
      }

      &--iiko {
        width: toRem(150);
        min-width: toRem(75);
      }

      &--3dx {
        width: toRem(26);
        margin: 0 toRem(12);
      }
    }
  }
}
