.hero {
  padding-top: $padding200;
  padding-bottom: $padding100;
  position: relative;
  background-color: var(--main-bg-color);
  background-image: url("../images/World-Map.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;

  @media (max-width: 1024px) {
    padding-top: $padding100;
  }

  @media (max-width: 768px) {
    padding-top: $padding50;
    padding-bottom: $padding50;
  }

  > img {
    &:first-of-type {
      position: absolute;
      top: 40%;
      z-index: 1;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__images {
    display: flex;
    align-items: flex-end;
    gap: toRem(20);
    position: relative;
    z-index: 1;

    @media (max-width: 768px) {
      gap: toRem(8);
    }

    &__easy {
      width: toRem(486);
    }

    img {
      max-width: 100%;
      height: auto;
    }

    &__iiko {
      width: toRem(108);
    }

    svg {
      width: 100%;
      height: auto;
      max-width: toRem(486);

      & > path {
        fill: var(--main-text-color);
      }
    }
  }
}
