.partners {
  padding-top: $padding50;
  padding-bottom: $padding100;
  background-color: var(--main-bg-color);
  z-index: 0;

  &__title {
    display: flex;
    align-items: stretch;
    gap: toRem(22);
    margin-bottom: toRem(50);

    img {
      width: 66px;
      height: auto;
      max-width: 100%;
    }

    h3 {
      transform: translateY(-30%);
    }

    svg {
      width: 574px;
      height: auto;
      max-width: 100%;
      path {
        fill: var(--main-text-color);
      }
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: toRem(36);
    padding: toRem(36);
    border-radius: toRem(20);
    z-index: 2;
    background: var(--main-bg-color);

    @media (max-width: 768px) {
      padding: toRem(20) toRem(10);
      gap: toRem(18);
    }

    &__card {
      @media (max-width: 1024px) {
        flex: 1;
      }

      @media (max-width: 768px) {
        width: 40%;
        flex: initial;
      }

      img {
        max-width: 100%;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin: auto;

    position: relative;
    box-sizing: border-box;

    background: var(--inversion-bg-color);
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: toRem(20);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      margin: toRem(-10);
      border-radius: inherit;
      background: linear-gradient(to right, #ff7c7c, #78a5fd, #7cf7ff);
    }
  }
}
