.services {
  padding-top: $padding100;
  padding-bottom: $padding50;

  &__title {
    display: flex;
    margin-bottom: toRem(60);

    img {
      transform: translateY(25%);
      margin-right: toRem(30);
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(30);
    padding-bottom: toRem(30);

    &__card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: toRem(15);
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: calc(33% - 30px);
      padding: toRem(15);
      box-shadow: toRem(4) toRem(4) toRem(16) 0px rgba(34, 60, 80, 0.2);

      > div {
        &:first-of-type {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: toRem(10);
          height: 45%;

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }

      p {
        font-family: "Montserrat-500";
        font-size: toRem(12);
      }
    }
  }

  &__bottomLine {
    img {
      max-width: 100%;
    }
  }
}
