.work {
  padding-bottom: $padding50;
  background-color: var(--main-bg-color);

  h4 {
    color: var(--main-text-color);
  }

  &__title {
    display: flex;
    margin-bottom: toRem(60);
    align-items: center;

    img {
      margin-right: toRem(30);
    }

    svg {
      path {
        fill: var(--main-text-color);
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: toRem(36);
    margin-bottom: $padding50;

    &__card {
      display: flex;
      flex-direction: column;
      max-width: calc(33% - 26px);
      position: relative;
      background: var(--main-bg-color);
      padding: toRem(10) toRem(20);
      border-image: url("../images/gradient-border.svg") 75 fill/36px/1px
        stretch;
      border-radius: toRem(16);

      div {
        display: flex;
        gap: toRem(30);
      }

      h5 {
        color: var(--main-text-color);
        height: toRem(80);
      }

      p {
        font-family: "Montserrat-500";
        font-size: toRem(12);
        color: var(--main-text-color);
        margin: 15px 90px 0 0;
      }

      img {
        max-width: toRem(130);
        height: auto;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(15%, 15%);
      }
    }
  }

  &__bottomLine {
    img {
      width: 100%;
    }
  }
}
