.work {
  padding-bottom: $padding50;

  &__title {
    display: flex;
    margin-bottom: toRem(60);
    align-items: baseline;

    img {
      margin-right: toRem(30);
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(44);
    margin-bottom: $padding50;

    &__card {
      position: relative;
      width: calc(33% - 26px);
      background: $colorWhite;
      padding: toRem(10) toRem(20);
      max-height: toRem(240);
      border-image: url("../images/gradient-border.svg") 75 fill/36px/1px
        stretch;
      border-radius: toRem(16);

      &:last-child {
        p {
          margin-right: toRem(66);
        }

        img {
          transform: translate(32%, -73%);

          &:last-child {
            transform: translate(75%, -140%);
          }
        }
      }

      h5 {
        color: $colorBlack;
      }

      p {
        font-family: "Montserrat-500";
        font-size: toRem(12);
        color: $colorBlack;
        margin-right: toRem(55);
      }

      img {
        position: absolute;
        right: 0;
        transform: translate(20%, -40%);
      }
    }
  }

  &__bottomLine {
    img {
      width: 100%;
    }
  }
}

.work__black {
  background-color: rgba(0, 0, 0, 1);

  h4 {
    color: $colorWhite;
  }
  & div:nth-child(2) div {
    background: $colorBlack;

    h5,
    p {
      color: $colorWhite;
    }
  }
}
