.work {
  padding-top: $padding50;
  padding-bottom: $padding50;
  background-color: var(--main-bg-color);

  @media (max-width: 768px) {
    padding-bottom: 0;
  }

  h4 {
    color: var(--main-text-color);
  }

  &__title {
    display: flex;
    gap: toRem(15);
    margin-bottom: toRem(60);
    align-items: center;

    @media (max-width: 768px) {
      margin-bottom: toRem(20);
    }

    div {
      max-width: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    svg {
      max-width: 100%;
      width: 542px;
      height: 40px;
      path {
        fill: var(--main-text-color);
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: toRem(36);
    margin-bottom: $padding50;

    &__card {
      display: flex;
      flex-direction: column;
      max-width: calc(33% - 26px);
      position: relative;
      background: var(--main-bg-color);
      padding: toRem(10) toRem(20);
      border-image: url("../images/gradient-border.svg") 75 fill/36px/1px
        stretch;
      border-radius: toRem(16);

      &:hover {
        transform: scale(1.05);
      }

      @media (max-width: 1024px) {
        max-width: calc(45% - 26px);
      }

      @media (max-width: 768px) {
        max-width: calc(85% - 26px);
      }

      &:nth-child(3) {
        h5 {
          @media (max-width: 768px) {
            height: toRem(100);
          }
        }
      }

      div {
        display: flex;
        gap: toRem(30);
      }

      h5 {
        color: var(--main-text-color);
        height: toRem(80);
      }

      p {
        font-family: "Montserrat-500";
        font-size: toRem(12);
        color: var(--main-text-color);
        margin: 15px 90px 0 0;
      }

      img {
        max-width: toRem(130);
        height: auto;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(15%, 15%);
      }
    }
  }

  &__bottomLine {
    img {
      width: 100%;
    }
  }
}
