// fonts

$titleFont: "Greenth-Regular", sans-serif;
$baseLineHeight: 1.3;

// colors

$colorBlack: #101010;
$colorWhite: #fefefe;
$colorGray: #c3c3c3;
$colorInput: #6b6b6b;

// sizes

$padding50: toRem(50);
$padding100: toRem(100);
$padding150: toRem(150);
$padding200: toRem(200);
